html, body{
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 16px ;
}
*{
    box-sizing: border-box;
}
header{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)), url(../img/header-Background.jpg);
    height: 100vh;
    margin-top: 0;
    background-size: cover;
}
h1{
    margin: 0;
}
nav img{
    width: 170px;
    height: 50px;
    vertical-align: middle;
}
nav a.logo{
    display: inline-block;
    //line-height: 60px;
    margin: 2%;
}
header nav{
    height: 90px;
}
nav .signin{
    color: #fff;
    float: right;
    background-color: #e50914;
    line-height: normal;
    margin-top: 18px;
    margin-right: 2%;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
}
.pitch{
    margin: 0 3%;
    position: absolute;
    top: 35%;
    font-size: 1.8vw;
}

.pitch_title{
    font-size: 3em;
    margin: 0 0 0.2em;
    font-weight: 700 ;
}
.pitch_subtitle{
    margin: 0 0 0.5em;
}

.btn{
    font-size: 14px;
    letter-spacing: 1.9px;
    font-weight: 400;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 12px 2em;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    user-select: none;
    text-align: center;
    border: 0 ;
}
nav .signin:hover, .btn:hover{
    background: #f40612;
}

 